#li1:hover{
    background-color: yellow;
    font-size: 30px;
}
#li2:hover{
    background-color: aqua;
    font-size: 30px;
}
#li3:hover{
    background-color: blueviolet;
    font-size: 30px;
}
#li4:hover{
    background-color: aquamarine;
    font-size: 30px;
}