#l1{
    background: #ff9999;
    padding: 20px;
    list-style-type: decimal;
  }
  
#l2 {
    background: #3399ff;
    padding: 20px;
    list-style-type: decimal;
  }

#l3{
    background: #e280e1;
    padding: 20px;
    list-style-type: decimal;
  }
.l1{
    list-style-type: georgian;
}
.l2{
    list-style-type: square;
}
.l3{
    list-style-type: decimal;
}