table{
    border-collapse: collapse;
}

tr:nth-child(1){
    background-color: rgb(7, 190, 138);
    color: white;
}

tr:nth-child(3){
    color: rgb(7, 190, 138);
}

tr:hover{
    background-color: #ddd;
    color: black;
}

table{
    border-bottom: 2px solid green;
    width: 400px;
}

td, th{
    text-align: center;
}